# Programming Project 3
---
**Author:** Katie Zopff  
**Version:** 1.0  
**Semester:** Fall 2020  

This *notebook* contains my solution to **Programming Project 3**

In [91]:
import numpy as np
import csv
from prettytable import PrettyTable
from prettytable import from_csv

**1.)**

In [102]:
def download(filename):
    """This function accepts a file name and opens that file and saves it as a list."""
    with open(filename, mode='r', newline='') as data:
        reader = csv.reader(data)
        data = list(reader)
    return data

**2.)**

In [103]:
def create_array(dataset):
    """This function accepts a dataset and returns it as an array without the first row and without the first two columns, and converts all numerical data previously stored as strings into integers."""
    newarray = np.array(dataset)
    newarray = np.delete(newarray, 0, 0)
    newarray = np.delete(newarray, 0, 1)
    newarray = np.delete(newarray, 0, 1)
    newarray = newarray.astype(np.float)
    return newarray

**3.)**

In [104]:
def create_table(filename): 
    """This function accepts a file name and creates a table from all of the information within the file."""
    with open(filename, "r") as data: 
        x = from_csv(data)
        x.align = 'r'
        x.align['Code'] = 'l'
    print(x)
    return

**4.)**

In [105]:
def formatnumbers(numbers):
    """This function accepts a list of numbers and format the numbers within the list to have comma separators and two decimal places."""
    formattednumbers = ['{:,.2f}'.format(i) for i in numbers]
    return formattednumbers

In [106]:
def summary_table(dataset):
    """This function accepts a dataset, creates lists of the means, maxes, and mins of each column of that dataset, and returns a table of all the calculated data."""
    means1 = list(np.mean(dataset, axis=0))
    maxes1 = list(np.amax(dataset, axis=0))
    mins1 = list(np.amin(dataset, axis=0))
    
    means = formatnumbers(means1)
    maxes = formatnumbers(maxes1)
    mins = formatnumbers(mins1)
    
    x = PrettyTable()
    x.field_names = ['Summary Measure', '2015', '2016', '2017', '2018', '2019']
    x.add_row(['MEAN', means[0], means[1], means[2], means[3], means[4]])
    x.add_row(['MAX', maxes[0], maxes[1], maxes[2], maxes[3], maxes[4]])
    x.add_row(['MIN', mins[0], mins[1], mins[2], mins[3], mins[4]])
    x.align = 'r'
    print(x)
    return

**5.)**

In [107]:
data = download('africa_pop_data.csv')
numerical_data_array = create_array(data)
create_table('africa_pop_data.csv')
summary_table(numerical_data_array)

+--------------------------+------+-----------+-----------+-----------+-----------+-----------+
|                  Country | Code |      2015 |      2016 |      2017 |      2018 |      2019 |
+--------------------------+------+-----------+-----------+-----------+-----------+-----------+
|                  Algeria | DZA  |  39728025 |  40551404 |  41389198 |  42228429 |  43053054 |
|                   Angola | AGO  |  27884381 |  28842484 |  29816748 |  30809762 |  31825295 |
|                    Benin | BEN  |  10575952 |  10872067 |  11175204 |  11485048 |  11801151 |
|                 Botswana | BWA  |   2120716 |   2159944 |   2205128 |   2254126 |   2303697 |
|             Burkina Faso | BFA  |  18110624 |  18646378 |  19193284 |  19751535 |  20321378 |
|               Cabo Verde | CPV  |    524743 |    531146 |    537497 |    543767 |    549935 |
|                 Cameroon | CMR  |  23298368 |  23926539 |  24566045 |  25216237 |  25876380 |
| Central African Republic | CAF  |   4493170 |   4537687 |   4596028 |   4666377 |   4745185 |
|                     Chad | TCD  |  14110975 |  14561666 |  15016773 |  15477751 |  15946876 |
|                  Comoros | COM  |    777424 |    795592 |    813892 |    832322 |    850886 |
|         Congo, Dem. Rep. | COD  |  76244544 |  78789127 |  81398764 |  84068091 |  86790567 |
|              Congo, Rep. | COG  |   4856095 |   4980999 |   5110702 |   5244363 |   5380508 |
|            Cote d'Ivoire | CIV  |  23226143 |  23822714 |  24437469 |  25069229 |  25716544 |
|                 Djibouti | DJI  |    913993 |    929112 |    944097 |    958920 |    973560 |
|         Egypt, Arab Rep. | EGY  |  92442547 |  94447072 |  96442593 |  98423595 | 100388073 |
|        Equatorial Guinea | GNQ  |   1168568 |   1215179 |   1262001 |   1308974 |   1355986 |
|                 Eswatini | SWZ  |   1104044 |   1113984 |   1124753 |   1136191 |   1148130 |
|                 Ethiopia | ETH  | 100835458 | 103603501 | 106400024 | 109224559 | 112078730 |
|                    Gabon | GAB  |   1947686 |   2007873 |   2064823 |   2119275 |   2172579 |
|                   Gambia | GMB  |   2085860 |   2149139 |   2213894 |   2280102 |   2347706 |
|                    Ghana | GHA  |  27849205 |  28481946 |  29121471 |  29767108 |  30417856 |
|                   Guinea | GIN  |  11432088 |  11738441 |  12067539 |  12414318 |  12771246 |
|            Guinea-Bissau | GNB  |   1737202 |   1782437 |   1828146 |   1874309 |   1920922 |
|                    Kenya | KEN  |  47878336 |  49051686 |  50221473 |  51393010 |  52573973 |
|                  Lesotho | LSO  |   2059021 |   2075001 |   2091412 |   2108132 |   2125268 |
|                  Liberia | LBR  |   4472230 |   4586788 |   4702228 |   4818977 |   4937374 |
|                    Libya | LBY  |   6418315 |   6492164 |   6580724 |   6678567 |   6777452 |
|                   Malawi | MWI  |  16745303 |  17205289 |  17670260 |  18143315 |  18628747 |
|                     Mali | MLI  |  17438778 |  17965429 |  18512394 |  19077690 |  19658031 |
|               Mauritania | MRT  |   4046301 |   4163534 |   4282574 |   4403319 |   4525696 |
|                Mauritius | MUS  |   1262605 |   1263473 |   1264613 |   1265303 |   1265711 |
|                  Morocco | MAR  |  34663603 |  35126296 |  35581294 |  36029138 |  36471769 |
|               Mozambique | MOZ  |  27042002 |  27829942 |  28649007 |  29495962 |  30366036 |
|                  Namibia | NAM  |   2314904 |   2358041 |   2402603 |   2448255 |   2494530 |
|                    Niger | NER  |  20001663 |  20788838 |  21602472 |  22442948 |  23310715 |
|                  Nigeria | NGA  | 181137448 | 185960289 | 190873311 | 195874740 | 200963599 |
|                   Rwanda | RWA  |  11369071 |  11668818 |  11980937 |  12301939 |  12626950 |
|    Sao Tome and Principe | STP  |    199432 |    203227 |    207089 |    211028 |    215056 |
|                  Senegal | SEN  |  14578459 |  14993528 |  15419381 |  15854360 |  16296364 |
|               Seychelles | SYC  |     93419 |     94677 |     95843 |     96762 |     97625 |
|             Sierra Leone | SLE  |   7171914 |   7328838 |   7488431 |   7650154 |   7813215 |
|                  Somalia | SOM  |  13797201 |  14185613 |  14589119 |  15008154 |  15442905 |
|             South Africa | ZAF  |  55386367 |  56203654 |  57000451 |  57779622 |  58558270 |
|              South Sudan | SSD  |  10715658 |  10832512 |  10910759 |  10975920 |  11062113 |
|                    Sudan | SDN  |  38902950 |  39847440 |  40813396 |  41801533 |  42813238 |
|                 Tanzania | TZA  |  51482633 |  53050790 |  54663906 |  56318348 |  58005463 |
|                     Togo | TGO  |   7323158 |   7509952 |   7698475 |   7889094 |   8082366 |
|                  Tunisia | TUN  |  11179949 |  11303946 |  11433443 |  11565204 |  11694719 |
|                   Uganda | UGA  |  38225453 |  39647506 |  41162465 |  42723139 |  44269594 |
|              Yemen, Rep. | YEM  |  26497889 |  27168210 |  27834821 |  28498687 |  29161922 |
|                   Zambia | ZMB  |  15879361 |  16363507 |  16853688 |  17351822 |  17861030 |
|                 Zimbabwe | ZWE  |  13814629 |  14030390 |  14236745 |  14439018 |  14645468 |
+--------------------------+------+-----------+-----------+-----------+-----------+-----------+
+-----------------+----------------+----------------+----------------+----------------+----------------+
| Summary Measure |           2015 |           2016 |           2017 |           2018 |           2019 |
+-----------------+----------------+----------------+----------------+----------------+----------------+
|            MEAN |  22,491,651.21 |  23,072,804.02 |  23,664,411.29 |  24,265,356.31 |  24,874,643.13 |
|             MAX | 181,137,448.00 | 185,960,289.00 | 190,873,311.00 | 195,874,740.00 | 200,963,599.00 |
|             MIN |      93,419.00 |      94,677.00 |      95,843.00 |      96,762.00 |      97,625.00 |
+-----------------+----------------+----------------+----------------+----------------+----------------+